
	<div id="footer-container">
		
		<div class="footer-btn">
			<a href="https://asterisk93.github.io/StudioWayward/">
				<img id="footer-home" src="{{ site.baseurl }}/assets/SW-general-footer-small.png">
			</a>
		</div>

		<div class="footer-btn-main">
			<a href="https://asterisk93.github.io/StudioWayward/models">
				<span>Model Works</span>
			</a>
		</div>

		<div class="footer-btn-main">
			<a href="https://asterisk93.github.io/StudioWayward/photography">
				<span>Photography</span>
			</a>
		</div>

		<div class="footer-btn-main">
			<a href="{{ site.baseurl }}/">
				<span>BS Reviews</span>
			</a>
		</div>

		<div class="footer-btn">
			<a href="https://twitter.com/asterisk93">
				<span>Twitter</span>
			</a>
		</div>

		<div class="footer-btn">
			<a href="https://www.redbubble.com/people/studio-wayward/shop?asc=u">
				<span>Store</span>
			</a>
		</div>

		<div class="footer-btn">
			<a href="https://www.instagram.com/studio_wayward/">
				<span>Instagram</span>
			</a>
		</div>

		<div class="footer-btn">
			<a href="https://asterisk93.github.io/StudioWayward/contact">
				<span>Contact</span>
			</a>
		</div>

	</div>

	<div id="mobile-footer">
		<div id="mobile-footer-main">

			<div class="mob-footer-main-item">
				<a href="http://studiowayward.com/">
					<img class="mob-footer-main-icon" src="{{ site.baseurl }}/assets/SW-general-footer-smaller.png">
				</a>
			</div>

			<div class="mob-footer-main-item">
				<a href="http://studiowayward.com/models">
					<img class="mob-footer-main-icon" src="{{ site.baseurl }}/assets/mobile-mw-icon.png">
				</a>
			</div>

			<div class="mob-footer-main-item">
				<a href="http://studiowayward.com/photography">
					<img class="mob-footer-main-icon" src="{{ site.baseurl }}/assets/mobile-photo-icon.png">
				</a>
			</div>

			<div class="mob-footer-main-item">
				<a href="https://asterisk93.github.io/BiteSizeReviews/">
					<img class="mob-footer-main-icon" src="{{ site.baseurl }}/assets/mobile-bsr-icon.png">
				</a>
			</div>

		</div>

		<div id="mobile-footer-sub">
			
			<div class="mob-footer-sub-item">
				<a href="https://twitter.com/asterisk93">
					<img src="{{ site.baseurl }}/assets/mobile-twitter.png" class="mob-footer-sub-icon">
				</a>
			</div>

			<div class="mob-footer-sub-item">
				<a href="https://www.redbubble.com/people/studio-wayward/shop?asc=u">
					<img src="{{ site.baseurl }}/assets/mobile-shirt.png" class="mob-footer-sub-icon">
				</a>
			</div>

			<div class="mob-footer-sub-item">
				<a href="https://www.instagram.com/studio_wayward/">
					<img src="{{ site.baseurl }}/assets/mobile-insta.png" class="mob-footer-sub-icon">
				</a>
			</div>

			<div class="mob-footer-sub-item">
				<a href="{{ site.baseurl }}/contact">
					<img src="{{ site.baseurl }}/assets/mobile-email.png" class="mob-footer-sub-icon">
				</a>
			</div>

		</div>
	</div>



<style type="text/css">
	#footer-container{
		background-color: #4a4a4a;
	}

	#mobile-footer-main, #mobile-footer-sub{
		background-color: #4a4a4a;
	}

	.footer-btn a{
		color: white;
	}

	.footer-btn span:hover{
		color: #333333;
		background-color: #808080;
	}

	.footer-btn:hover{
		background-color: #808080;
	}

	.footer-btn-main a{
		color: white;
	}

	.footer-btn-main span:hover{
		color: #333333;
		background-color: #808080;
	}

	.footer-btn-main:hover{
		background-color: #808080;
	}
</style>

