	<div id="navbarContainer">

		<div id="navHome">
			<a href="{{site.baseurl}}/">
				<div id="navHomeText">
					<span>BSR</span>
				</div>
			</a>
		</div>

		<div id="navBites">
			<a href="{{site.baseurl}}/bites/">
				<div id="navBitesText">
					<span>Bites</span>
				</div>
			</a>
		</div>

		<div id="navMeals">
			<a href="{{site.baseurl}}/meals/">
				<div id="navMealsText">
					<span>Meals</span>
				</div>
			</a>
		</div>

		<div id="navAbout">
			<a href="{{site.baseurl}}/about/">
				<div id="navAboutText">
					<span>About</span>
				</div>
			</a>
		</div>

		<div id="navTagline">
			<div id="navTaglineText">
				<span>Tfw you're just placeholder text</span>
			</div>
		</div>

		<div id="search">
			<div id="searchBar">
				<form>
					<input type="text" name="searchValue">
					<input type="submit" value="Search">
				</form>	
			</div>
		</div>

	</div>