	<div id="navbarContainer">

		<div id="navHome">
			<a href="{{site.baseurl}}/">
				<div id="navHomeText">
					<h1>BSR</h1>
				</div>
			</a>
		</div>

		<div id="navBites">
			<a href="{{site.baseurl}}/bites/">
				<div id="navBitesText">
					<h2>Bites</h2>
				</div>
			</a>
		</div>

		<div id="navMeals">
			<a href="{{site.baseurl}}/meals/">
				<div id="navMealsText">
					<h2>Meals</h2>
				</div>
			</a>
		</div>

		<div id="navTagline">
			<div id="navTaglineText">
				<h2>Tfw you're just placeholder text</h2>
			</div>
		</div>

		<div id="search">
			<div id="searchBar">
				<form>
					<input type="text" name="searchValue">
					<input type="submit" value="submit">
				</form>	
			</div>
		</div>

	</div>