<div id="navbarContainer">

	<div id="navCol-1">
		<div id="navHome">
			<a href="{{site.baseurl}}/">
				<div id="navHomeText">
					<span>BSR</span>
				</div>
			</a>
		</div>

		<div id="navBites">
			<a href="{{site.baseurl}}/bites/">
				<div id="navBitesText">
					<span>Bites</span>
				</div>
			</a>
		</div>

		<div id="navMeals">
			<a href="{{site.baseurl}}/meals/">
				<div id="navMealsText">
					<span>Meals</span>
				</div>
			</a>
		</div>

		<div id="navAbout">
			<a href="{{site.baseurl}}/about/">
				<div id="navAboutText">
					<span>About</span>
				</div>
			</a>
		</div>
	</div>	

	<div id="navTagline">
		<div id="navTaglineText">
			<span>Newer, sleeker look, same old review backlog!</span>
		</div>
	</div>

	<div id="navCol-3">
		<div id="navSearchOK" onclick="getNavSearchTerm()">
			<a href="{{ site.baseurl }}/search/">
				<div id="navOKtext">
					<span>Search</span>
				</div>
			</a>
		</div>
	</div>
</div>
