body{
	background-color: #0d0d26;
	font-size: 10px;
}

a {
	text-decoration: none;
}


/**
---------------------------------Navigation Bar---------------------------------
**/

#navbarContainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
	text-align: center;
	background-color: #2c2c2c;
	height: 45px;
	overflow: hidden;
	border-style: solid;
	border-color: #4a4a4a;
	border-radius: 5px;
	margin-bottom: 30px;
}

#navHome{
	margin-left: 15px;
	line-height: 45px;
	padding-right: 15px;
	border-right-style: solid;
	border-right-color: #222222;
	border-right-width: 2px; 
}

#navHomeText{
	font-family: 'Bungee';
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 15px;
	background-color: #4a4a4a;
}

a #navHomeText{
	color: #FFFFFF;
}

#navHomeText:hover{
	color:red;
	border-color: red;
}

#navBites{
	
	line-height: 45px;
	padding-right: 15px;
	padding-left: 15px;
	border-right-style: solid;
	border-right-color: #222222;
	border-right-width: 2px; 
}

#navBitesText{
	font-family: 'Bungee';
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 15px;
	background-color: #4a4a4a;
}

a #navBitesText{
	color: #FFFFFF;
}

#navBitesText:hover{
	color:green;
	border-color: green;
}

#navMeals{
	line-height: 45px;
	padding-right: 15px;
	padding-left: 15px;
	border-right-style: solid;
	border-right-color: #222222;
	border-right-width: 2px;
}

#navMealsText{
	font-family: 'Bungee';
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 15px;
	background-color: #4a4a4a;
}

a #navMealsText{
	color: #FFFFFF;
}

#navMealsText:hover{
	color:blue;
	border-color: blue;
}

#navAbout{
	
	line-height: 45px;
	padding-left: 15px;
	padding-right: 15px;
	border-right-style: solid;
	border-right-color: #222222; 
	border-right-width: 2px;
}

#navAboutText{
	font-family: 'Bungee';
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 15px;
	background-color: #4a4a4a;
}

a #navAboutText{
	color: #FFFFFF;
}

#navAboutText:hover{
	color:#0099ff;
	border-color: #0099ff;
}

#navTagline{
	flex-grow: 2;
	border-right-style: solid;
	border-right-color: #222222; 
	border-right-width: 2px;
	text-align: center;
}

#navTaglineText{
	font-family: 'Bungee';
	color: #FFFFFF;
	font-size: 15px;
}

#search{
	margin-left: 15px;
	margin-right: 15px;
	line-height: 35px;
	height: 35px;
	background-color: #666666;
	padding-right: 1px;
	padding-left: 1px;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px; 

}

#navSearchOK{
	font-family: 'Bungee';
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	font-size: 12px;
	height: 30px;
	line-height: 20px;
	text-align: center;
	padding: 0 15px;
	background-color: #4a4a4a;
	color: #FFFFFF;
	margin-left: 5px;
	margin-top: -10px;
}

#navSearchOK:hover{
	color: #0099ff;
	border-color: #0099ff;
}

#navSearch{
	height: 20px;
	line-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin-top: 5px;
	width: 50%;
}

/**
---------------------------------Jumbotron Banner---------------------------------
**/

#jumboContainer {
	width: 75%;
	background-color: black;
	height: 523px;
	margin: auto;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
	border-color: #4a4a4a;
}

#jumbotron{
	position: relative;
	background-image: url("https://i.imgur.com/EiviJbb.gif");
	background-repeat: no-repeat;
	background-position: center;
	height: 513px;
	top: 5px;
}

#jumbotext{
	font-family: 'Bungee';
	color: #FFFFFF;
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 10px;
	border-radius: 5%;
	padding-left: 20px;
	padding-right: 20px;

}

a #jumbotext{
	color: #FFFFFF;
}

#jumbotext:hover{
	color:red;
	border-color: red;
}

    @media all and (min-width: 50px) {  #jumbotext  {   font-size:0.09em;  } }
    @media all and (min-width: 100px) {  #jumbotext  {   font-size:0.1em;  } }
    @media all and (min-width: 200px) {  #jumbotext  {   font-size:0.3em;  } }
    @media all and (min-width: 300px) {  #jumbotext  {   font-size:0.5em;  } }
    @media all and (min-width: 400px) {  #jumbotext  {   font-size:0.7em;  } }
	@media all and (min-width: 500px) {  #jumbotext  {   font-size:0.9em;  } }
	@media all and (min-width: 600px) {  #jumbotext  {   font-size:1.1em;  } }
	@media all and (min-width: 700px) {  #jumbotext  {   font-size:1.3em;  } }
	@media all and (min-width: 800px) {  #jumbotext  {   font-size:1.5em;  } }
	@media all and (min-width: 900px) {  #jumbotext  {   font-size:1.7em;  } }
	@media all and (min-width: 1000px) {  #jumbotext  { font-size:1.9em;  } }
	@media all and (min-width: 1100px) {  #jumbotext  { font-size:2.0em;  } }
	@media all and (min-width: 1200px) {  #jumbotext  { font-size:2.3em;  } }
	@media all and (min-width: 1300px) {  #jumbotext  { font-size:2.5em;  } }
	@media all and (min-width: 1400px) {  #jumbotext  { font-size:2.7em;  } }
	@media all and (min-width: 1500px) {  #jumbotext  { font-size:2.9em;  } }
	@media all and (min-width: 1500px) {  #jumbotext  { font-size:3.1em;  } }
	@media all and (min-width: 1600px) {  #jumbotext  { font-size:3.3em;  } }
	@media all and (min-width: 1700px) {  #jumbotext  { font-size:3.5em;  } }


/**
---------------------------------Catergory Selectors---------------------------------
**/

#categoryBar{
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-top: 35px;
}

.catBarButton{
	margin: 30px;
}

#biteText{
	font-family: 'Bungee';
	font-size: 1.2vw;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	border-radius: 5%;
	padding: 0 40px;
	background-color: #666666;
}

a #biteText{
	color: #FFFFFF;
}

#biteText:hover{
	color: green;
	border-color: green;
}

#mealText{
	font-family: 'Bungee';
	font-size: 1.2vw;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	border-radius: 5%;
	padding: 0 40px;
	background-color: #666666;
}

a #mealText{
	color: #FFFFFF;
}

#mealText:hover{
	color: blue;
	border-color: blue;
}


/**
---------------------------------Post Previews---------------------------------
**/

#recent{
	width:60%;
	color: #FFFFFF;
	margin: auto;
	font-family: 'Bungee';
	font-size: 1.3vw;
	margin-bottom: -40px;
}

.previewLink {
	width: 65%;
	text-align: center;
	margin: 0 auto;
	margin-top: 60px;
}

#preview{
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
	border-color: #4a4a4a;
	padding: 20px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #808080;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
	text-align: center;

}

#preview:hover{
	border-color: #FFFFFF;
}

#poster{
	height: 200px;
	border-style: solid;
	border-color: #4a4a4a;
}	

#movieTitle{
	font-family: 'Candal';
	text-transform: uppercase;
	font-size: 1.3vw;
	color: #333333;
	width: 50%;
	font-weight: 
}

#rating{
	font-family: 'Bungee';
	text-align: center;
	font-size: 35px;
	line-height: 40px;
	height: 40px;
	padding: 15px;
	border-style: solid;
	border-radius: 5px;
}

.reviewText{
	display: none;
	border-radius: 15px;
	width: 75%;
	font-size: 1.5vw;
	margin: auto;
	margin-top: 30px;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #4a4a4a;
	font-family: helvetica;
	font-weight: 550;
	text-align: left;
	text-indent: 1.75em;
	color: #FFFFFF;
}

[light~=gold]{
	background: radial-gradient(ellipse farthest-corner at right bottom,
	 #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
     radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%,
      #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-color: #664b00;
    color: #332500;
}

[light~=green]{
	background-color: #009933;
	border-color: #004d1a;
	color: #004d1a;
}

[light~=yellow]{
	background-color: #ffcc00;
	border-color: #997a00;
	color: #997a00;
}

[light~=red]{
	background-color: #ae0000;
	border-color: #660000;
	color: #660000;
}

/**
---------------------------------Post Pages---------------------------------
**/

#post-container{
	width: 60%;
	background-color: #4a4a4a;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	margin: auto;
	display: flex;
	flex-direction: row;
	
}

#post-poster{
	width: 60%;
}

#post-dataBar{

}

#post-titleBar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
	text-align: center;
	background-color: #333333;
	padding: 15px;
}

#post-titleText{
	font-family: 'candal';
	text-transform: uppercase;
	font-size: 1.7vw;
	color: #FFFFFF;
}

#post-date{
	font-family: 'helvetica';
	text-transform: uppercase;
	font-size: 0.8vw;
	color: #FFFFFF;
	margin-left: 15px;
}

#post-reviewBar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;	
	text-align: center;
	margin-left: 15px;
}

#post-ratingText{
	font-family: 'Bungee';
	color: #FFFFFF;
	font-size: 1.1vw;
}

#post-ratingValue{
	font-family: 'Bungee';
	font-size: 1.2vw;
	border-style: solid;
	border-radius: 5px;
	height: 1.25vw;
	line-height: 1.25vw;
	padding: 5px;
	margin-left: 5px;
}

[postLight~=gold]{
	background: radial-gradient(ellipse farthest-corner at right bottom,
	 #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
     radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%,
      #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-color: #664b00;
    color: #332500;
}

[postLight~=green]{
	background-color: #009933;
	border-color: #004d1a;
	color: #004d1a;
}

[postLight~=yellow]{
	background-color: #ffcc00;
	border-color: #997a00;
	color: #997a00;
}

[postLight~=red]{
	background-color: #ae0000;
	border-color: #660000;
	color: #660000;
}

#post-bodyText{
	text-indent: 1.75em;
	font-family: 'helvetica';
	font-size: 1.0vw;
	color: #FFFFFF;
	padding: 15px;
}