<!DOCTYPE html>


<head>
	{% include blog-head.html %}
</head>



<body>

	<div id="jumboContainer">
		<div id="jumbotron">
			<div id="jumbotext">
				<h1>Bite-Size Reviews</h1>
			</div>
		</div>
	</div>

	{% for post in site.posts limit:5 %}
	<div class="previewLink">
		<a href="{{site.baseurl}}{{post.url}}">
			<div id="preview">
				<img id="poster" src="assets/posters/{{post.poster}}"> 
			
				<div id="movieTitle">
					<h1>{{post.title}}</h1>
				</div>

				<div id="rating" light="{{post.light}}">
					<h2>{{post.rating}}/10</h2>
				</div>

				<div class="reviewText">
					{{post.content}}
				</div>

			</div>
		</a>
	</div>

	{% endfor %}

</body>