---
layout: wrapper
---


	<div id="jumboContainer">
		<div id="jumbotron">
			<a href="{{site.baseurl}}/">
			<div id="jumbotext">
				<h1>Bite-Size Reviews</h1>
			</div>
			</a>
		</div>
	</div>

	<div id="mob_logo">
		<span>Bite-Size Reviews</span>
	</div>

	<div id="categoryBar">
		
		<div class="catBarButton">
			<a href="{{site.baseurl}}/bites/">
				<div id="biteText">
					<h1>Bite-Size</h1>
					<p>Reviews and First Impressions</p>
				</div>
			</a>
		</div>

		<div class="catBarButton">
			<a href="{{site.baseurl}}/meals/">
				<div id="mealText">
					<h1>Meal-Size</h1>
					<p>Interpretations and Musings</p>
				</div>
			</a>
		</div>

	</div>

	<div id="recent">
		<h1>Recent Posts:</h1>
	</div>
	
	<div id="recentContainer">
	{% for post in site.posts limit:9 %}
	<div class="previewLink">

		<div id="previewDate">
			{{ post.date | date: "%B %-d, %Y"}}
		</div>
		
		<a href="{{site.baseurl}}{{post.url}}">

			<div id="preview">

				{% if post.categories contains "review" %}

				<img id="poster" src="assets/posters/{{post.poster}}"> 
			
				<div id="movieTitle">
					<h1>{{post.title}}</h1>
				</div>

				<div id="rating" light="{{post.light}}">
					<span>{{post.rating}}/10</span>
				</div>

				<div class="reviewText">
					{{post.content}}
				</div>

				{% elsif post.categories contains "opinion" %}

				<div id="BSRblock">
					<span>BSR</span>
				</div>

				<div id="articleTitle">
					<span>{{post.title}}</span>
				</div>

				<div id="mealBlock">
					<span>MEAL</span>
				</div>

				{% endif %}
			</div>
		</a>


	</div>

	{% endfor %}
	</div>

