---
layout: wrapper
---


{% if page.categories contains "review" %}
<div id="post-container">

	
	<img id="post-poster" src="assets/posters/{{page.poster}}">
	

	<div id="post-dataBar">
		
		<div id="post-titleBar">
			
			<div id="post-titleText">
				<span>{{page.title}}</span>
			</div>

			<div id="post-date">
				<span>{{ page.date | date: "%B %-d, %Y"}}</span>
			</div>

		</div> <br>

		<div id="post-reviewBar">
			
			<div id="post-ratingText">
				<span>Rating:</span>
			</div>

			<div id="post-ratingValue" postLight="{{page.light}}">
				<span>{{page.rating}}/10</span>
			</div>

		</div> <br>

		<div id="post-body">

			<div id="post-bodyText">
				{{content}}
			</div>

		</div>

	</div>

</div>

{% elsif page.categories contains "opinion" %}

<div id="meal-container">
	
	<div id="meal-titleBar">
		
		<div id="meal-title">
			<span>{{page.title}}</span>
		</div>

		<div id="meal-date">
			<span>{{ page.date | date: "%B %-d, %Y"}}</span>
		</div>

	</div>

	<img id="meal-mainImage" src="assets/article-images/{{page.image}}">

	<div id="meal-body">
		{{content}}
	</div>

</div>

{% endif %}