<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<meta name="description" content="
	{% if page.excerpt %}{{ page.excerpt }}
	{% else %}{{site.description}}{% endif %}">
	{% include blog-head.html %}
</head>

<script type="text/javascript">
	var searchTerm = '';
</script>

<body>
	<div id="content-flex">
		<div id="content">
			{% include header.html %} <br>
			{{ content }}
		</div>

		<div id="footer">
			{% include footer.html %}
		</div>
</body>

</html>